.grid {
  display: grid;
  width: 700px;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  gap: 2px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #cccc;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 699px) {
  .grid {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 350px;
  }
} */
