.grid {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.book {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  gap: 6px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #cccc;
}

.bookCover {
  height: 85px;
  object-fit: contain;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 0.6rem;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
